*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(240, 240, 240);
}

main {
 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 10em;
  box-shadow: 1px 1px 5px black;
  padding: 5em;
}


h1{
  
}

.warning{
  background-color: rgb(208, 206, 206);
  color: red;
  width: 30%;
  margin: auto;
}

.linha{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 10em;
  padding-right: 10em;
}

label{
  margin-top: 2em;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 130px;
  font-size: 3em;
  flex-shrink: 0;
  background-color: rgb(223, 121, 121);
}

input{
  margin: 1em;
}



.primeColor{
  background-color: rgb(223, 121, 121);

  
}

.secondColor{
  background-color: rgb(105, 202, 105);

}

h2{
  font-family: sans-serif;
  
  text-align: center;
  
  margin: auto;
  width: 30%;
}

.a{
  background-color: rgb(223, 121, 121);
  margin-top: 4em;
  float: inline-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

.b{
  background-color: rgb(105, 202, 105);
  float: inline-end;
  margin-top: 4em;
  position: absolute;
  bottom: 0;
  right: 0;

}

main > button{
  width: 200px;
  height: 60px;
  margin: auto;
  margin-top: 2em;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

#play{
  background-color: rgb(98, 98, 233);
  display: inline;
  
}

#ia{
  background-color: rgb(121, 236, 211);
  display: inline;
}


input{
  margin-top: 1.2em;
  font-size: x-large;
 
 
}
table {
  margin: auto;
  min-width: 200px;
  height: 200px;

  border-collapse: collapse;
  text-align: center;
  font-size: 4em;
  margin-top: 60px;
  flex-shrink: 0;
}



tr{
  border-bottom: 3px solid black;
  cursor: pointer;
  flex-shrink: 0;

}

tr, td{
  min-width: 200px;
  height: 200px;
  flex-shrink: 0;
}

td{
  border-left: 3px solid black;
  cursor: pointer;
  
}

td:hover{
  background-color: rgb(96, 154, 236);
}

.lastLine{
  border-bottom: none;
}

.leftLine{
 border: none;
}
.hide{
  display:none;

}

.show{
  font-size: 3em;
  margin: auto;
  text-align: center;
}

.des{
  pointer-events: none;

}



.text{

  
}

.playAgain{
  padding: 2em;
  background-color: rgb(98, 98, 233);
  display: block;
  margin: auto;
  margin-top: 3em;
  border-radius: 30px;
  font-weight: 800;
  font-size: .3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.playAgain:hover{
  background-color: aqua;
}

#hid{
  margin-top: 6em;
 
}